.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Definición de la animación */
@keyframes fadeIn {
  from {
    opacity: 0; /* Inicia con opacidad 0 (invisible) */
  }
  to {
    opacity: 1; /* Termina con opacidad 1 (totalmente visible) */
  }
}

/* Aplicar la animación al elemento h2 */
.App > h2 {
  font-family: "Dancing Script", cursive;
  color: aliceblue;
  font-size: 4rem;
  animation: fadeIn 3s ease-in-out; /* Duración de 1 segundo, suavizado ease-in-out */
}


.libros-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: auto; /* Asegura que ocupe toda la altura de la pantalla */
}


.image-container {
  overflow: hidden;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container > h3 {
  font-family: "Dancing Script", cursive;
  color: aliceblue;
  font-size: 1.4em;
  margin-bottom: 1.5em;
}

.zoomable-image {
  width: auto;
  height: 25rem;
}

.image-container:hover .zoomable-image {
  transform: scale(1.1); 
}
